%h3 Location Search

.btn-group
  = link_to 'JSON', params.merge(format: 'json'), {class: 'btn btn-default'}

%table
  %thead
    %tr
      %th name
      %th organization
      %th address
      %th phones
      %th literally everything else
  %tbody
    - locations.each do |l|
      %tr
        %th= l.name
        %td
          %pre= l.organization.pretty_inspect
        %td
          %pre= l.address.pretty_inspect
        %td
          %pre= l.phones.pretty_inspect
        %td
          %pre= l.pretty_inspect
